*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffa1f7;

}


.container {
  background-color: #2b2929;
  width: 30%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
}

.time-card {
  padding: 0 10px;
}



.display-time {
  position: relative;
  width: 92%;
  background: #070404;
  left: 4%;
  padding: 40px 0;
  font-family: 'Roboto mono', monospace;
  color: #ce47e3;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(196, 13, 172, 0.25);
}



.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}


.buttons button {
  width: 120px;
  height: 45px;
  background-color: #1f981f;
  color: #ffffff;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}




.buttons button:nth-last-child(2) {
  background-color: #d43340;
}

.buttons button:nth-last-child(1) {
  background-color: #d864c7;
}


@media screen and (max-width:876px) {

  .container {
    width: 10%;
    min-width: 90%;
    padding: 90px 0;
    padding-bottom: 90px;
   
  }

   .display-time {
    width: 90%;
    padding: 80px 0;
     font-size: 26px;
  }

   .buttons {
    width: 92%;
    justify-content: space-between;
  }

   .buttons button {
    width: 90px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
  }

}